/* Progress bar container */
#progressbar
{
	border : 1px solid #d3d3d3;
	width : 255px;
	height : 20px;
	position : relative;
	color : black;
	border-radius: 5px;
}

/* Color bar */
#progressbar div.progress
{
	position : absolute;
	height : 100%;
	overflow : hidden;
	background-color : #0d74a6;
	border-radius: 5px;
}

/* Text on bar */
#progressbar div.progress .text
{
	position : absolute;
	text-align : center;
	color : white;
	margin-top : 2px;
}

/* Text off bar */
#progressbar div.text
{
	position : absolute;
	text-align : center;
	margin-top : 2px;
	width : 100%;
	height : 100%;
}
